@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-sans bg-darkBg text-gray-100;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0E14;
}
::-webkit-scrollbar-thumb {
  background: #222C3D;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0072FF;
}
